<div class="col align-self-center">
    <a class="btn btn-secondary col-md-4 m-3" href="/hotel/profile/" role="button">View Hotel Profile</a>
    <a class="btn btn-secondary col-md-4 m-3" href="/view/room-type/" role="button">View Room Type</a>
    <a class="btn btn-secondary col-md-4 m-3" href="/view/rooms/" role="button">View Rooms</a>
    <a class="btn btn-secondary col-md-4 m-3" href="/view/bookings/" role="button">View Bookings</a>
    <a class="btn btn-secondary col-md-4 m-3" href="/add/room-type/" role="button">Add Room Type</a>
    <a class="btn btn-secondary col-md-4 m-3" href="/add/rooms/" role="button">Add Rooms</a>
    <a class="btn btn-secondary col-md-4 m-3" href="/add/bookings/" role="button">Add Bookings</a>
</div>