<div class="col align-self-center">
    <a class="btn btn-secondary col-md-4 m-3" href="{%  url 'hotel_profile' %}" role="button">View Hotel Profile</a>
</div>
<div class="col align-self-center">
    <a class="btn btn-secondary col-md-4 m-3" href="{%  url 'room_type_list' %}" role="button">View Room Type</a>
    <a class="btn btn-secondary col-md-4 m-3" href="{%  url 'room_type_add' %}" role="button">Add Room Type</a>

    <a class="btn btn-secondary col-md-4 m-3" href="{%  url 'room_list' %}" role="button">View Rooms</a>
    <a class="btn btn-secondary col-md-4 m-3" href="{%  url 'room_add' %}" role="button">Add Rooms</a>

    <a class="btn btn-secondary col-md-4 m-3" href="{%  url 'index' %}" role="button">View Bookings</a>
    <a class="btn btn-secondary col-md-4 m-3" href="{%  url 'index' %}" role="button">Add Bookings</a>
</div>